.main-container{
    width: 100%;
    
    
    .item-row{
        display: flex;
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
        background-color: #f5f5f7;
        .item-product{
            width: 25%;
            flex-basis: 25%;
            padding: 20px 20px 30px;
            .products{
                text-decoration: none;
                .product-image{
                    height: 350px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .brand-info{
                    margin-top: 10px;
                    .brand-name{
                        font-weight: bold;
                        color: black;
                        font-size: 20px;
                    }
                    .price{
                        font-size: 18px;
                        color: grey;
                    }
                }
                
                
            }
        }
    }
    
}

.navbar{
    .header-cart{
        .right-side{
            .cart{
                // margin-right: 10px !important;
                // color: white !important;
                display: flex;
                align-items: center;
                text-decoration: none;  
                .addtocart{
                    // margin-right: 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    .counter{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

